button, input {
    -moz-appearance:none; /* Firefox */
    //-webkit-appearance:none; /* Safari and Chrome */
    //appearance:none;
    background-color: #F5F5F5;
    border-color: #D0D0D0;
}

html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.title {
    width: 100%;
    height: 5%;
    background-color: red;
}

.body {
    width: 98%;
    height: 95%;
    margin: 0% 1% 0% 1%;
}

.bodyLeft {
    display: inline-block;
    width: 65%;
    height: 100%;
    margin: 0% 5% 0% 0%;
}

.bodyLeftTop {
    width: 99.8%;
    height: 19.8%;
    display: flex;
    border: 1px solid black;
}

.bodyLeftTopTop {
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
}

.bodyLeftTopTopTop {
    width: 100%;
    height: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.bodyLeftTopTopBottom {
    width: 100%;
    height: 50%;
    display: flex;
}

.bodyLeftTopTopBottomLeft {
    width: 30%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 40px;
}

.bodyLeftTopTopBottomRight {
    width: 70%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 40px;
}

.bodyLeftTopMid {
    width: 60%;
    height: 100%;
    display: flex;
    border-right: 1px solid black;
}

.bodyLeftTopMid1 {
    width: 20%;
    height: 100%;
    margin: 0% 0% 0% 15%;
}

.bodyLeftTopMid1Top {
    width: 100%;
    height: 20%;
    display: flex;
}

.bodyLeftTopMid1Top1 {
    width: 50%;
    height: 100%;
}

.bodyLeftTopMid1Top2 {
    width: 50%;
    height: 100%;
}

.bodyLeftTopMid1Mid {
    width: 100%;
    height: 60%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 80px;
}

.bodyLeftTopMid1Bottom {
    width: 100%;
    height: 20%;
}

.bodyLeftTopMid1BottomInput {
    width: 95%;
    height: 90%;
    margin: 0%;
    padding: 0%;
}

.bodyLeftTopMid2 {
    width: 5%;
    height:100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 80px;
}

.bodyLeftTopMid3 {
    width: 20%;
    height: 100%;
}

.bodyLeftTopMid3Top {
    width: 100%;
    height: 20%;
    display: flex;
}

.bodyLeftTopMid3Top1 {
    width: 50%;
    height: 100%;
}

.bodyLeftTopMid3Top2 {
    width: 50%;
    height: 100%;
}

.bodyLeftTopMid3Mid {
    width: 100%;
    height: 60%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 80px;
}

.bodyLeftTopMid3Bottom {
    width: 100%;
    height: 20%;
}

.bodyLeftTopMid3BottomInput {
    width: 95%;
    height: 90%;
    margin: 0%;
    padding: 0%;
}

.bodyLeftTopMid4 {
    width: 5%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 80px;
}

.bodyLeftTopMid5 {
    width: 20%;
    height: 100%;
    margin: 0% 15% 0% 0%;
}

.bodyLeftTopMid5Top {
    width: 100%;
    height: 20%;
    display: flex;
}

.bodyLeftTopMid5Top1 {
    width: 50%;
    height: 100%;
}

.bodyLeftTopMid5Top2 {
    width: 50%;
    height: 100%;
}

.bodyLeftTopMid5Mid {
    width: 100%;
    height: 60%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 80px;
}

.bodyLeftTopMid5Bottom {
    width: 100%;
    height: 20%;
}

.bodyLeftTopMid5BottomInput {
    width: 95%;
    height: 90%;
    margin: 0%;
    padding: 0%;
}

.bodyLeftTopBottom {
    width: 20%;
    height: 100%;
}

.bodyLeftTopBottomTop {
    width: 100%;
    height: 33.3%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 50px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.bodyLeftTopBottomMid {
    width: 100%;
    height: 33.3%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 50px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.bodyLeftTopBottomBottom {
    width: 100%;
    height: 33.3%;
    display: flex;
}

.bodyLeftTopBottomBottomLeft {
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 30px;
    border-right: 1px solid black;
    cursor: pointer;
}

.bodyLeftTopBottomBottomRight {
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.bodyLeftMid {
    width: 100%;
    height: 70%;
}

.bodyLeftMidCanvas {
    width: 99.8%;
    height: 100%;
    border: 1px solid black;
}

.bodyLeftBottom {
    width: 100%;
    height: 10%;
    background-color: green;
}

.bodyRight {
    display: inline-block;
    float: right;
    width: 30%;
    height: 100%;
}

.bodyRightTop {
    width: 100%;
    height: 70%;
}

.bodyRightTopTop {
    width: 100%;
    height: 10%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 40px;
}

.bodyRightTopBottom {
    width: 99.6%;
    height: 90%;
    border: 1px solid black;
    overflow-y: scroll;
}

.bodyRightTopBottomDiv {
    width: 100%;
    height: 16%;
    display: flex;
    margin: 2% 0% 2% 0%;
}

.bodyRightTopBottomDivLeft {
    width: 70%;
    height: 100%;
    display: flex;
}

.bodyRightTopBottomDivLeftLeft {
    width: 10%;
    height: 100%;
    display: grid;
    text-align: center;
    align-items: center;
}

bodyRightTopBottomDivLeftLeftClick {
    width: 100%;
    height: 100%;
}

.bodyRightTopBottomDivLeftRight {
    width: 85%;
    height: 100%;
    margin: 0% 0% 0% 5%;
    display: grid;
    align-items: center;
    font-size: 30px;
}

.bodyRightTopBottomDivRight {
    width: 30%;
    height: 100%;
}

.bodyRightTopBottomDivRightDiv {
    width: 90%;
    height: 100%;
    padding: 0% 10% 0% 0%;
}

.bodyRightTopBottomDivRightDiv1 {
    float: right;
    width: 40%;
    height: 25%;
}

.bodyRightTopBottomDivRightDiv2 {
    float: right;
    width: 40%;
    height: 25%;
}

.bodyRightBottom {
    width: 100%;
    height: 30%;
}

.bodyRightBottomDiv {
    width: 100%;
    height: 80.5%;
    padding: 10% 0% 0% 0%;
}

.bodyRightBottomDivTop {
    width: 99.6%;
    height: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    border: 1px solid black;
    border-bottom: none;
    font-size: 40px;
}

.bodyRightBottomDivBottom {
    width: 99.6%;
    height: 50%;
    text-align: center;
    display: grid;
    align-items: center;
    border: 1px solid black;
    font-size: 40px;
}