<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SOJU</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <style>
        .bestStudyImg{
            width: 100%;
            height: 213px;
        }
        .bestStudyTitle{
            width: 100%;
            height: 50px;
            margin: 5px 0px;
        }
        .bestStudyText{
            width: 100%;
            height: 20px;
            font-size: 12px;
            margin: 5px 0px;
        }

        .toleft{
            width: 50px;
            height: 50px;
            margin: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: #ffffff9e;
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
            cursor: pointer;
        }
        .toright{
            width: 50px;
            height: 50px;
            margin: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: #ffffff9e;
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
            cursor: pointer;
        }
        .toleft1{
            width: 50px;
            height: 50px;
            margin: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: #ffffff9e;
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
            cursor: pointer;
        }
        .toright1{
            width: 50px;
            height: 50px;
            margin: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: #ffffff9e;
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
            cursor: pointer;
        }
        .slider:active{
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 50%);
        }

        .bestMentorContainer{
            width: 100%;
            height: 450px;
            overflow-x: hidden;
        }
        .bestMentorInner{
            width: 200%;
            height: 340px;
            padding-top: 10px;
            display: flex-inline;
            justify-content: start;
            align-items: center;
        }
    </style>
    <script type="text/javascript" src="/js/moveDiv.js"></script>
</head>
<body>
    <header>
        <nav class="headerContainer">
            <div class="headerImg">
                <a href="/" alt="SOJU">
                    <img src="/img/logo_mate.png" class="mainLogo">
                </a>
            </div>

            <div class="headerMenu">
                <div class="headerMenuLeft">

                    <div class="categoryMenu">
                        <span>스터디원</span>
                        <div class="dropTable">
                            <a class="dropRecruitStudy dropMenu" href="/recruitstudy">스터디원 모집</a>
                            <a class="dropRecruitMentor dropMenu" href="/recruitmentorlist">멘토 모집</a>
                            <a class="dropMentorProfile dropMenu" href="/mentorprofilelist">멘토 프로필</a>
                        </div>
                    </div>

                    <div class="categoryMenu">
                        <a href="/meta" class="metaMenu">
                            <span class="categoryMenu">스터디룸</span>
                        </a>
                    </div>
                    <div class="categoryMenu">
                        <a href="/noticeroom" class="noticeRoomMenu">
                            <span class="categoryMenu">게시판</span>
                        </a>
                    </div>
                    <div class="categoryMenu">
                        <a href="/store" class="storeMenu">
                            <span class="categoryMenu">스토어</span>
                        </a>
                    </div>
                    <div class="categoryMenu">
                        <a href="/mypage" class="myPageMenu">
                            <span class="categoryMenu">마이페이지</span>
                        </a>
                    </div>
                </div>

                <div class="headerMenuRight">
                    <div class="whenLogin">
                        <div class="welcome" th:text="${nickname} + '님 반갑습니다!'"></div>
                        <div class="notificationsMenu">
                            <div class="icon" data-number="5">
                                <i class="ri-notification-4-fill"></i>
                            </div>
                        </div>
                    </div>

                    <div class="btnLogin">
                        <input class="inputButtonLogin" sec:authorize="isAnonymous()" type="button" value="로그인" onclick="location.href='/loginform'">
                        <input class="inputButtonLogin" sec:authorize="isAuthenticated()" type="button" value="로그아웃" onclick="location.href='/logout'">
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="imgDiv">
        <input type="hidden" value="광고">
    </div>

    <div class="interestContainer">
        <div class="interestTitle">
            <span>어느 분야에 관심이 있나요?</span>
        </div>

        <div class="interestDivBody">

            <div class="interestElement">
                <a href="/">
                    <img src="/img/computer.png" class="interestElementImg">
                    <p class="interestElementText">컴퓨터/IT</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/math.png" class="interestElementImg">
                    <p class="interestElementText">수학</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/management.png" class="interestElementImg">
                    <p class="interestElementText">경영/마케팅</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/design.png" class="interestElementImg">
                    <p class="interestElementText">디자인</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/education.png" class="interestElementImg">
                    <p class="interestElementText">교육</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/literature.png" class="interestElementImg">
                    <p class="interestElementText">문학</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/entrance.png" class="interestElementImg">
                    <p class="interestElementText">입시</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/engineer.png" class="interestElementImg">
                    <p class="interestElementText">공학</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/language.png" class="interestElementImg">
                    <p class="interestElementText">언어</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/employment.png" class="interestElementImg">
                    <p class="interestElementText">취업</p>
                </a>
            </div>

            <div class="interestElement">
                <a href="/">
                    <img src="/img/etc.png" class="interestElementImg">
                    <p class="interestElementText">기타</p>
                </a>
            </div>
        </div>

    </div>


    <div class="bestStudyContainer">
        <div class="BestTitle">
            <span>지금 가장 인기있는 스터디</span>
        </div>
        <ul class="bestStudyInner">
            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">백엔드 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">프론트엔드 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">OPIC 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">토익 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

           <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">수학 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>
            <li>
                <input type="button" value=">" class="toright slider">
            </li>

            <li>
                <input type="button" value="<" class="toleft slider">
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="bestMentorContainer">
        <div class="BestTitle">
            <span>요즘 주목받는 멘토</span>
        </div>
        <ul class="bestMentorInner">
            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">백엔드 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">프론트엔드 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">OPIC 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">토익 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/cookie.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">수학 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>
            <li>
                <input type="button" value=">" class="toright1 sliderBtn">
            </li>

            <li>
                <input type="button" value="<" class="toleft1 sliderBtn">
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>

            <li class="bestStudyElement">
                <div class="bestStudyA">
                    <a href="/">
                        <img src="/img/pink.jpg" class="bestStudyImg">
                        <p class="bestStudyTitle">정처기 공부할 사람 구합니다 @@@@</p>
                        <p class="bestStudyText">밤톨</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <footer>
        <div class="wrapper">
            <div class="footer_left">
                <div class="logo_div">
                    <a href="/">
                        <img src="/img/logo_mate.png" class="logo">
                    </a>
                </div>

                <ul class="left_ul">
                    <li class="left_element">
                        <a href="/" class="left_text">개인정보처리방침</a>
                    </li>
                    <li class="left_element">
                        <a href="/" class="left_text">|  이용약관</a>
                    </li>
                </ul>

                <div class="information">
                    <span class="project_info left_text">프로젝트 소개 입력 프로젝트 소개 입력 프로젝트 소개 입력 프로젝트 소개 입력 프로젝트 소개 입력 프로젝트 소개 입력 프로젝트 소개 입력 </span>
                </div>

            </div>
            <div class="footer_right">
                <p>Contact Us</p>
                <ul>
                    <li class="mail">
                        <a href="mailto:8993jin@naver.com" target="_blank">
                            <img src="/img/email.png" class="contact_icon">
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/AlcoholParty" target="_blank">
                            <img src="/img/github.png" class="contact_icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        const nav = document.querySelector('#nav');
        const onScroll = (event) => {
            const scrollPosition = event.target.scrollingElement.scrollTop;
            if (scrollPosition > 10 ){
                if(!nav.classList.contains('scrolledDown')) {
                    nav.classList.add('scrolledDown');
                }
            } else {
                if (nav.classList.contains('scrolledDown')) {
                    !nav.classList.remove('scrolledDown');
                }
            }
        };
        document.addEventListener('scroll', onScroll);
    </script>
    <script>
        let index = 0; //보고 있는 페이지 번호

        const prevBtn = document.querySelector(".toleft");
        const nextBtn = document.querySelector(".toright");
        const pages = document.querySelector(".bestStudyInner");

        function prev(){
            if(index > 0){
            nextBtn.removeAttribute("disabled");
            pages.style.transform = 'translateX(0px)';
            index -= 1;
            }
            if(index == 0){
                prevBtn.setAttribute("disabled", 'true');
            }
         }

        function next(){
            if(index < 1){
                prevBtn.removeAttribute("disabled");
                pages.style.transform = 'translateX(-1186px)';
                index += 1;
            }
            if(index == 1 ){
                // 뒤로 못 가게 하기
                nextBtn.setAttribute("disabled", 'true'); // 못 누르는 버튼이 됨
            }
        }
        // 초기 랜더링 시 최초 호출 함수의 관습적 이름
        function init(){
            // 앞으로 가기는 처음부터 못누르게!
            prevBtn.addEventListener("click", prev);
            nextBtn.addEventListener("click", next);
        }

        init();

    </script>

    <script>
        let index1 = 0; //보고 있는 페이지 번호

        const prevBtn1 = document.querySelector(".toleft1");
        const nextBtn1 = document.querySelector(".toright1");
        const pages1 = document.querySelector(".bestMentorInner");

        function prev1(){
            if(index1 > 0){
            nextBtn1.removeAttribute("disabled");
            pages1.style.transform = 'translateX(0px)';
            index1 -= 1;
            }
            if(index1 == 0){
                prevBtn1.setAttribute("disabled", 'true');
            }
         }

        function next1(){
            if(index1 < 1){
                prevBtn1.removeAttribute("disabled");
                pages1.style.transform = 'translateX(-1186px)';
                index1 += 1;
            }
            if(index1 == 1 ){
                // 뒤로 못 가게 하기
                nextBtn1.setAttribute("disabled", 'true'); // 못 누르는 버튼이 됨
            }
        }
        // 초기 랜더링 시 최초 호출 함수의 관습적 이름
        function init1(){
            // 앞으로 가기는 처음부터 못누르게!
            prevBtn1.addEventListener("click", prev1);
            nextBtn1.addEventListener("click", next1);
        }

        init1();

    </script>
</body>
</html>