<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/ul.css">
</head>
<body>
    <!-- th:object="${바인딩한 객체의 변수명}" - 모델로 바인딩한 객체를 가져온다. -->
    <form action="/joinform/join" method="post" th:object="${memberDto}">
        <ul>
            <!-- th:for="th:field에 작성한 변수명" - label과 input을 연결 해준다. -->
            <!-- th:field="*{th:object로 가져온 객체의 내부 변수명}" - 모델로 바인딩한 객체의 내부 변수들을 가져와 id, name, value 속성을 자동으로 처리 해준다. -->
            <li><label th:for="emailId">아이디 : </label><input th:field="*{emailId}" type="text"></li>
            <li><label th:for="pwd">비밀번호 : </label><input th:field="*{pwd}" type="password"></li>
            <li><label th:for="name">이름 : </label><input th:field="*{name}" type="text"></li>
            <li><label th:for="nickname">닉네임 : </label><input th:field="*{nickname}" type="text"></li>
            <li><label th:for="birthday">생년월일 : </label><input th:field="*{birthday}" type="date"></li>
            <li><label> 성별 : </label><label>남</label><input th:field="*{gender}" type="radio" value="M">
                                      <label>여</label><input th:field="*{gender}" type="radio" value="W"></li>
            <li><label th:for="phoneNumber">휴대폰 번호 : </label><input th:field="*{phoneNumber}" type="tel"></li>
            <li><label th:for="address">주소 : </label><input th:field="*{address}" type="text"></li>
            <li><label th:for="studyType">관심 분야 : </label><select th:field="*{studyType}"><option value="">관심 분야</option>
                                                                                            <option value="문과">문과</option>
                                                                                            <option value="이과">이과</option>
                                                                                            <option value="공과">공과</option></select></li>
        </ul>
        <input type="submit" value="가입">
    </form>
</body>
</html>