<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/ul.css">
    <script th:inline="javascript">
        let err = [[${err}]]; // 에러 메세지
        // 에러 메세지가 있는 경우
        if (err != null) {
            alert(err);
            location.href = "/meta";
        }
    </script>
</head>
<body>
    <!-- th:object="${바인딩한 객체의 변수명}" - 모델로 바인딩한 객체를 가져온다. -->
    <form action="/meta/search" method="get" th:object="${metaDTO}">
        <!-- th:for="th:field에 작성한 변수명" - label과 input을 연결 해준다. -->
        <!-- th:field="*{th:object로 가져온 객체의 내부 변수명}" - 모델로 바인딩한 객체의 내부 변수들을 가져와 id, name, value 속성을 자동으로 처리 해준다. -->
        <select th:field="*{metaType}"><option value="">방 분야</option>
                                       <option value="studyRoom">스터디</option>
                                       <option value="cafeRoom">카페</option>
                                       <option value="oneRoom">자습실</option></select>
        <label th:for="metaTitle">검색 : </label><input th:field="*{metaTitle}" type="text">
        <input type="submit" value="검색">
    </form>

    <div>
        <!-- th:each="바인딩한 여러 객체들을 하나씩 꺼내 사용할 별칭 : ${바인딩한 여러 객체들의 통합 변수명}" - 바인딩한 여러 객체를 forEach문으로 하나씩 꺼내온다. -->
        <ul th:each="typeMeta : ${typeMetaList}">
            <!-- th:if="${객체의 별칭.객체의 내부 변수명 == '변수의 데이터값'}" - 바인딩한 객체의 변수와 데이터값을 if문으로 비교한다. -->
            <li th:if="${typeMeta.metaType == 'studyRoom'}"><a th:href="@{/meta/studyroom(metaIdx=${typeMeta.metaIdx})}">(스터디)
                                                                                                                         [[${typeMeta.metaTitle}]]
                                                                                                                         ([[${typeMeta.metaRecruitingPersonnel}]] / [[${typeMeta.metaPersonnel}]])</a></li>
            <!-- th:if="${객체의 별칭.객체의 내부 변수명 == '변수의 데이터값'}" - 바인딩한 객체의 변수와 데이터값을 if문으로 비교한다. -->
            <li th:if="${typeMeta.metaType == 'cafeRoom'}"><a th:href="@{/meta/caferoom(metaIdx=${typeMeta.metaIdx})}">(카페)
                                                                                                                       [[${typeMeta.metaTitle}]]
                                                                                                                       ([[${typeMeta.metaRecruitingPersonnel}]] / [[${typeMeta.metaPersonnel}]])</a></li>
            <!-- th:if="${객체의 별칭.객체의 내부 변수명 == '변수의 데이터값'}" - 바인딩한 객체의 변수와 데이터값을 if문으로 비교한다. -->
            <li th:if="${typeMeta.metaType == 'oneRoom'}"><a th:href="@{/meta/oneroom(metaIdx=${typeMeta.metaIdx})}">(자습실)
                                                                                                                     [[${typeMeta.metaTitle}]]
                                                                                                                     ([[${typeMeta.metaRecruitingPersonnel}]] / [[${typeMeta.metaPersonnel}]])</a></li>
        </ul>
    </div>

    <div>
        <!-- th:each="바인딩한 여러 객체들을 하나씩 꺼내 사용할 별칭 : ${바인딩한 여러 객체들의 통합 변수명}" - 바인딩한 여러 객체를 forEach문으로 하나씩 꺼내온다. -->
        <ul th:each="meta : ${metaList}">
            <!-- th:if="${객체의 별칭.객체의 내부 변수명 == '변수의 데이터값'}" - 바인딩한 객체의 변수와 데이터값을 if문으로 비교한다. -->
            <li th:if="${meta.metaType == 'studyRoom'}"><a th:href="@{/meta/studyroom(metaIdx=${meta.metaIdx})}">(스터디)
                                                                                                                 [[${meta.metaTitle}]]
                                                                                                                 ([[${meta.metaRecruitingPersonnel}]] / [[${meta.metaPersonnel}]])</a></li>
            <!-- th:if="${객체의 별칭.객체의 내부 변수명 == '변수의 데이터값'}" - 바인딩한 객체의 변수와 데이터값을 if문으로 비교한다. -->
            <li th:if="${meta.metaType == 'cafeRoom'}"><a th:href="@{/meta/caferoom(metaIdx=${meta.metaIdx})}">(카페)
                                                                                                               [[${meta.metaTitle}]]
                                                                                                               ([[${meta.metaRecruitingPersonnel}]] / [[${meta.metaPersonnel}]])</a></li>
            <!-- th:if="${객체의 별칭.객체의 내부 변수명 == '변수의 데이터값'}" - 바인딩한 객체의 변수와 데이터값을 if문으로 비교한다. -->
            <li th:if="${meta.metaType == 'oneRoom'}"><a th:href="@{/meta/oneroom(metaIdx=${meta.metaIdx})}">(자습실)
                                                                                                             [[${meta.metaTitle}]]
                                                                                                             ([[${meta.metaRecruitingPersonnel}]] / [[${meta.metaPersonnel}]])</a></li>
        </ul>
    </div>

    <input type="button" value="방 만들기" onclick="location.href='/meta/createmetaform'">
    <input type="button" value="새로고침" onclick="location.href='/meta'">
    <input type="button" value="나가기" onclick="location.href='/'">
</body>
</html>