<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<!-- unload - beforeunload 이벤트에서 반환한 값을 처리한다. -->
<body onkeydown="keyDown()" onkeyup="keyUp()" onunload="exit()">
    <!-- 방 정보 작성 구역 -->
    <div id="titleArea">
        <b id="title" th:text="'방 번호 : ' + ${metaRoom.metaIdx} + '   |   ' + '(스터디)' + ' 방 제목 : ' + ${metaRoom.metaTitle} + ' ( ' + ${metaRoom.metaRecruitingPersonnel} + ' / ' + ${metaRoom.metaPersonnel} + ' )'"></b>
    </div>

    <!-- 상단 왼쪽 참가자 구역 -->
    <div id="menuBar" style="border: 2px solid black; box-sizing: border-box; width: 80%; height: 10%; margin-bottom: 5px; float: left;">
        <!-- 참가자 코드 -->
        <div th:each="participant : ${participantList}" th:id="${participant.metaNickname}" style="border: 1px solid black; box-sizing: border-box; width: 10%; height: 100%; float: left;">
            <img th:src="@{/imagePath/} + ${participant.metaProfileImage}" style="width: 50%; height:100%; float: left;">
            <b th:text="${participant.metaNickname}"></b>
        </div>
    </div>

    <!-- 상단 오른쪽 메뉴바 구역 -->
    <div style="border: 2px solid black; box-sizing: border-box; width: 18%; height: 10%; margin-bottom: 5px; margin-left: 1%; float: right;">
        <input type="button" value="나가기" th:onclick="|location.href='@{/meta/exit(metaIdx = ${metaRoom.metaIdx})}'|" style="width: 25%; height: 100%;">
    </div>

    <!-- 메타버스 -->
    <canvas id="canvas" style="border: 2px solid black; box-sizing: border-box; width: 80%; height: 80%; float: left;"></canvas>

    <!-- 채팅 구역 -->
    <div id="chatArea" style="text-align: center; border: 2px solid black; box-sizing: border-box; width: 18%; height: 80%; margin-left: 1%; float: right; overflow-y: scroll;">
        <div style="text-align: center;">채팅</div><br>
        <!-- 메시지 코드 -->
        <div style="text-align: left;"></div>
    </div>

    <!-- 메시지 입력란 -->
    <div>
        <input id="btnSend" type="button" value="보내기" onclick="send()" style="width: 3%; height: 15%; margin-top: 1%; margin-left: 1%; float: right;">
        <input id="message" type="text" style="width: 13.5%; height: 15%; margin-top: 1%; float: right;" placeholder = "채팅 입력란">
    </div>
<!-------------------------------------------------------js 구역-------------------------------------------------------->
    <!-- SockJS 사용을 위한 js를 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <!-- Stomp 사용을 위한 js를 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- Ajax 사용을 위한 js를 추가 -->
    <script src="/js/httpRequest.js"></script>

    <!---------------------------------------------------- 채팅 구역 ----------------------------------------------------->
    <script th:inline="javascript">
    ////////////////////////////////////////////////////// 변수 구역 //////////////////////////////////////////////////////
        var metaIdx = [[${metaRoom.metaIdx}]]; // 방 번호
        var metaTitle = [[${metaRoom.metaTitle}]]; // 방 제목
        var metaRecruitingPersonnel = [[${metaRoom.metaRecruitingPersonnel}]]; // 참가중인 인원
        var metaPersonnel = [[${metaRoom.metaPersonnel}]]; // 모집인원
        var nickname = [[${nickImage.nickname}]]; // 로그인 유저의 닉네임
        var profileImage = [[${nickImage.profileImage}]]; // 로그인 유저의 프로필 사진
        // Date.now() - UTC 기준으로 1970년 1월 1일 0시 0분 0초부터 현재까지 경과된 밀리 초를 반환한다.
        let start = ""; // 시작 시간
        let end = ""; // 메시지 전송 시간
        let count = ""; // 전송된 메시지 수
        let sendMessage = ""; // 메시지 전송 상태
        let message = document.getElementById("message"); // 메시지 작성란
        let entryCheck = [[${entryCheck}]]; // 입장 체크값
        let localStorage = window.localStorage; // 로컬 스토리지 객체 생성
    ////////////////////////////////////////////////////// 소켓 구역 //////////////////////////////////////////////////////
        // 1. SockJS를 생성한다. (StompWebSocketConfig에서 설정한 Endpoint와 동일하게 맞춰준다.)
        var sockJs = new SockJS("/ws/meta");
        // 2. 생성된 SockJS를 Stomp에 전달한다.
        var stomp = Stomp.over(sockJs);

        // 3. connect가 이뤄지면 실행한다.
        stomp.connect({}, function () {
            // connect가 이뤄지면 콘솔에 로그를 찍는다.
            console.log("STOMP Connection");

            // 5. subscribe(path, callback)으로 메시지를 받을 수 있다.
            //    StompChatController에서 SimpMessagingTemplate를 통해 전달한 DTO를 여기서 콜백 메소드 파라미터로 전달 받는다.
            stomp.subscribe("/sub/meta/studyRoom/" + metaIdx, function (chat) {
                // 6. JSON.parse(변환 대상) - JSON 문자열을 JavaScript 값이나 객체로 변환한다.
                //    JSON형식으로 넘어온 DTO를 JavaScript형식으로 변환한다.
                var content = JSON.parse(chat.body);
                // 6-1. 변환된 DTO를 사용하기 편하게 각각 변수에 나눠놓는다.
                var writer = content.writer; // 작성자
                var message = content.message; // 메시지
                var participant = content.participant; // 참가자 닉네임
                var profileImage = content.profileImage; // 참가자 프로필 사진
                var exit = content.exit; // 퇴장자 닉네임
                var recruitingPersonnel = content.metaRecruitingPersonnel; // 참가중인 인원
                let timePassed = end - start; // 처음 메시지 전송후 1초 이내 다음 메시지 전송까지의 경과 시간 - 1초 이후 시작 시간 초기화

                // 채팅에 필요한 것들
                var chatArea = document.getElementById("chatArea"); // 메시지가 작성될 채팅 구역
                var str = ""; // 메시지 코드가 작성될 변수

                // 전달 받은 메시지가 없을 경우 - 재입장(새로고침)
                if ( message == null ) {
                    // 아무 작업없이 그냥 반환한다.
                    return;
                }

                // 작성자가 로그인 유저와 같은 경우 (본인)
                if ( writer === nickname ) {
                    // 7. 메시지 코드를 작성한다.
                    str = '<div style="text-align: left;">';
                    str += '<b>' + writer + ' : ' + message + '</b>';
                    str += '</div>'
                    // 8. 작성된 메시지 코드를 채팅 구역에 올린다.
                    //    insertAdjacentHTML( position, html ) - position에 따른 위치에 html 요소를 추가 한다.
                    //    position에는 총 4가지의 옵션이 있다.
                    //    1. beforebegin : 타겟 요소 전(형제 요소)에 생성한다. - 시작 태그의 앞 (형제 요소)
                    //    2. afterbegin : 타겟 요소 다음(자식 요소)에 생성한다. - 시작 태그의 뒤 (자식 요소)
                    //    3. beforeend : 타겟 요소 '끝나는 태그' 바로 직전(자식 요소)에 요소를 생성한다. - 종료 태그 앞 (자식 요소)
                    //    4. afterend : 타겟 요소의 '끝나는 태그' 바로 다음(형제 요소)에 요소를 생성한다. - 종료 태그 뒤 (형제 요소)
                    chatArea.insertAdjacentHTML("beforeend", str);
                    // 메시지가 구역을 넘어간다면 해당 구역에 스크롤이 생성되는데 스크롤을 언제나 가장 아래에 위치하게 만든다.
                    chatArea.scrollTop = chatArea.scrollHeight - chatArea.clientHeight;

                    // 방을 퇴장하는 경우 - 본인은 퇴장 URL로 퇴장 시킨다.
                    if ( exit != null ) {
                        localStorage.clear(); // 로컬 스토리지 제거
                        location.href = "/meta/exit?metaIdx=" + metaIdx; // 퇴장 URL로 퇴장 시킨다.
                    }
                // 작성자가 로그인 유저와 다른 경우 (타 유저)
                } else {
                    // 7. 메시지 코드를 작성한다.
                    str = '<div style="text-align: left;">';
                    str += '<b>' + writer + ' : ' + message + '</b>';
                    str += '</div>'
                    // 8. 작성된 메시지 코드를 채팅 구역에 올린다.
                    //    insertAdjacentHTML( position, html ) - position에 따른 위치에 html 요소를 추가 한다.
                    //    position에는 총 4가지의 옵션이 있다.
                    //    1. beforebegin : 타겟 요소 전(형제 요소)에 생성한다. - 시작 태그의 앞 (형제 요소)
                    //    2. afterbegin : 타겟 요소 다음(자식 요소)에 생성한다. - 시작 태그의 뒤 (자식 요소)
                    //    3. beforeend : 타겟 요소 '끝나는 태그' 바로 직전(자식 요소)에 요소를 생성한다. - 종료 태그 앞 (자식 요소)
                    //    4. afterend : 타겟 요소의 '끝나는 태그' 바로 다음(형제 요소)에 요소를 생성한다. - 종료 태그 뒤 (형제 요소)
                    chatArea.insertAdjacentHTML("beforeend", str);
                    // 메시지가 채팅 구역 크기를 넘어간다면 해당 구역에 스크롤이 생성되는데 스크롤을 언제나 가장 아래에 위치하게 만든다.
                    chatArea.scrollTop = chatArea.scrollHeight - chatArea.clientHeight;

                    // 참가중인 인원이 바뀌는 경우 - 본인이 방에 들어올 경우에는 위에서 th:text로 참가한 방의 정보들이 다 작성되기에 참가자가 본인이 아닌 경우에만 실시간으로 참가중인 인원이 바뀌어 새로 작성되도록 만든다.
                    if ( recruitingPersonnel != null ) {
                        var title = document.getElementById("title"); // 방 정보 id
                        title.remove(); // 위에서 가져온 id를 이용하여 해당 방 정보를 삭제한다.

                        var titleArea = document.getElementById("titleArea"); // 방 정보가 작성될 구역
                        var ptr = ""; // 방 정보 코드가 작성될 변수

                        // 방 정보 코드를 작성한다.
                        prt = '<b id="title">';
                        prt += '방 번호 : ';
                        prt += metaIdx;
                        prt += '   |    (스터디) 방 제목 : ';
                        prt += metaTitle;
                        prt += ' ( '
                        prt += recruitingPersonnel;
                        prt += ' / ';
                        prt += metaPersonnel;
                        prt += ' )';
                        prt += '</b>';
                        // 작성된 방 정보 코드를 참가자 구역에 올린다.
                        // insertAdjacentHTML( position, html ) - position에 따른 위치에 html 요소를 추가 한다.
                        // position에는 총 4가지의 옵션이 있다.
                        // 1. beforebegin : 타겟 요소 전(형제 요소)에 생성한다. - 시작 태그의 앞 (형제 요소)
                        // 2. afterbegin : 타겟 요소 다음(자식 요소)에 생성한다. - 시작 태그의 뒤 (자식 요소)
                        // 3. beforeend : 타겟 요소 '끝나는 태그' 바로 직전(자식 요소)에 요소를 생성한다. - 종료 태그 앞 (자식 요소)
                        // 4. afterend : 타겟 요소의 '끝나는 태그' 바로 다음(형제 요소)에 요소를 생성한다. - 종료 태그 뒤 (형제 요소)
                        titleArea.insertAdjacentHTML("afterbegin", prt);
                    }

                    // 새로 들어온 참가자가 있는 경우 - 본인이 방에 들어올 경우에는 위에서 th:each로 참가자가 모두 작성되기에 참가자가 본인이 아닌 경우에만 실시간으로 참가자 구역에 추가 작성되도록 만든다.
                    if ( participant != null ) {
                        var menuBar = document.getElementById("menuBar"); // 참가자가 작성될 구역
                        var mtr = ""; // 참가자 코드가 작성될 변수

                        // 참가자가 새로 들어온게 아닌 새로고침한 경우 - 이전에 작성되있던 참가자 코드랑 중복되지 않게 먼저 삭제한다.
                        var ptr = document.getElementById(writer); // 이전에 작성되있던 참가자 id
                        // 이전에 작성되있던 참가자 코드가 있을 경우
                        if ( ptr != null ) {
                            ptr.remove(); // 위에서 가져온 id를 이용하여 해당 참가자를 삭제한다.
                        }

                        // 참가자 코드를 작성한다.
                        mtr = '<div id="' + writer + '" style="border: 1px solid black; box-sizing: border-box; width: 10%; height: 100%; float: left;">';
                        mtr += '<img src="/imagePath/' + profileImage + '" style="width: 50%; height: 100%; float: left;">';
                        mtr += '<b>' + writer + '</b>';
                        // 작성된 참가자 코드를 참가자 구역에 올린다.
                        // insertAdjacentHTML( position, html ) - position에 따른 위치에 html 요소를 추가 한다.
                        // position에는 총 4가지의 옵션이 있다.
                        // 1. beforebegin : 타겟 요소 전(형제 요소)에 생성한다. - 시작 태그의 앞 (형제 요소)
                        // 2. afterbegin : 타겟 요소 다음(자식 요소)에 생성한다. - 시작 태그의 뒤 (자식 요소)
                        // 3. beforeend : 타겟 요소 '끝나는 태그' 바로 직전(자식 요소)에 요소를 생성한다. - 종료 태그 앞 (자식 요소)
                        // 4. afterend : 타겟 요소의 '끝나는 태그' 바로 다음(형제 요소)에 요소를 생성한다. - 종료 태그 뒤 (형제 요소)
                        menuBar.insertAdjacentHTML("beforeend", mtr);
                    }

                    // 방을 퇴장하는 경우 - 본인은 퇴장하고 없으므로 타 유저인 경우에만 실시간으로 참가자 구역에서 삭제되도록 만든다.
                    if ( exit != null ) {
                        // id를 통해 참가자를 가져온다.
                        var mtr = document.getElementById(writer);
                        // 위에서 가져온 참가자 id를 이용하여 해당 참가자를 삭제한다.
                        mtr.remove();
                    }
                }
            });
    ////////////////////////////////////////////////////// 입장 구역 //////////////////////////////////////////////////////
            // 입장 시작!! - 먼저 입장 체크값을 이용하여 해당 유저가 첫 입장인지 재입장(새로고침)인지 체크한다.
            // 첫 입장일 경우 - 입장 체크값이 존재하지 않는다.
            if ( entryCheck == null ) {
                // 시작 시간과 메시지 전송 시간과 전송된 메시지 수와 메시지 전송 상태의 각 변수명을 키로 사용하고, 각 초기값을 지정해 값으로 사용하여 로컬 스토리지에 추가한다.
                localStorage.setItem("start", Date.now()); // Date.now()로 초기화
                localStorage.setItem("end", Date.now()); // Date.now()로 초기화
                localStorage.setItem("count", 0); // 0으로 초기화
                localStorage.setItem("sendMessage", "true"); // true로 초기화
                // 로컬 스토리지에 추가한 값들을 가져와 각 알맞는 변수에 전달한다.
                start = localStorage.getItem("start");
                end = localStorage.getItem("end");
                count = localStorage.getItem("count");
                sendMessage = localStorage.getItem("sendMessage");
                // 4번이 5번보다 아래에 위치한 이유 - 위에 있을경우 간혹 4번에서 전송한 메시지를 제대로 전달받지 못하는 경우가 존재한다.
                // 4. send(path, header, message)로 입장 메시지를 보낸다. (첫 입장할때 딱 한번만 여기서 입장 메시지를 전달한다.)
                //    JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                //    여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                stomp.send('/pub/meta/studyRoom/enter', {}, JSON.stringify({metaIdx : metaIdx, writer : nickname, profileImage : profileImage, metaRecruitingPersonnel : metaRecruitingPersonnel}));
            // 재입장(새로고침)일 경우 - 입장 체크값이 존재한다.
            } else {
                // 4번이 5번보다 아래에 위치한 이유 - 위에 있을경우 간혹 4번에서 전송한 메시지를 제대로 전달받지 못하는 경우가 존재한다.
                // 4. send(path, header, message)로 입장 메시지를 보낸다. (첫 입장 이후 모든 재입장(새로고침)은 여기서 입장 메시지를 전달한다.)
                //    JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                //    여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                stomp.send('/pub/meta/studyRoom/reenter', {}, JSON.stringify({metaIdx : metaIdx, writer : nickname, profileImage : profileImage, metaRecruitingPersonnel : metaRecruitingPersonnel}));
            }
        });
    ////////////////////////////////////////////////////// 채팅 구역 //////////////////////////////////////////////////////
        // 키가 눌릴 경우 발생하는 이벤트 핸들러 등록
        message.addEventListener("keypress", function(event) {
            // 눌린 키가 무엇인지 체크한다.
            // 눌린 키가 엔터 키인 경우
            if ( event.key === "Enter" ) {
                // 채팅 메시지 전송 메소드로 이동한다.
                send();
            }
        });

        // 채팅 메시지 전송 메소드
        function send() {
            // id를 통해 작성한 메시지를 가져온다.
            let message = document.getElementById("message");
            // 가져온 메시지의 값을 체크한다.
            // 가져온 메시지의 값이 비어있을 경우
            if ( message.value == "" ) {
                // 먼저 경고 알림창을 띄워준다.
                alert("메시지를 작성해주세요.");
                // 그 다음 아무 작업없이 돌아간다.
                return;
            // 가져온 메시지의 값이 비어있지 않을 경우
            } else {
                // 1초 이내 5개 이상의 메시지를 보낼 경우 - 5초간 메시지를 보낼 수 없다.
                // ( end - start ) - 처음 메시지 전송후 1초 이내 다음 메시지 전송까지의 경과 시간
                if ( ( end - start ) <= 1000 && count >= 5 ) {
                    alert("짧은 시간에 많은 메시지를 보낼 수 없습니다. 잠시 후 다시 시도해주세요.");
                    // 먼저 로컬 스토리지에서 현재 가지고 있는 메시지 전송 상태를 삭제한다.
                    localStorage.removeItem("sendMessage");
                    // 그 다음 메시지 전송 상태 값을 메시지를 보낼 수 없는 상태로 변경하여 다시 로컬 스토리지에 추가한다.
                    localStorage.setItem("sendMessage", "false");
                    // 마지막으로 로컬 스토리지에 다시 추가한 값을 가져와 알맞는 변수에 전달한다.
                    sendMessage = localStorage.getItem("sendMessage");
                    // 5초 대기 후 내부 메소드를 실행한다.
                    setTimeout(function() {
                        // 먼저 로컬 스토리지에서 현재 가지고 있는 시작 시간과 전송된 메시지 수와 메시지 전송 상태를 삭제한다.
                        localStorage.removeItem("start");
                        localStorage.removeItem("count");
                        localStorage.removeItem("sendMessage");
                        // 그 다음 시작 시간과 전송된 메시지 수와 메시지 전송 상태 값을 다시 초기값으로 변경하여 로컬 스토리지에 추가한다.
                        localStorage.setItem("start", Date.now());
                        localStorage.setItem("count", 0);
                        localStorage.setItem("sendMessage", "true");
                        // 마지막으로 로컬 스토리지에 다시 추가한 값들을 가져와 각 알맞는 변수에 전달한다.
                        start = localStorage.getItem("start");
                        count = localStorage.getItem("count");
                        sendMessage = localStorage.getItem("sendMessage");
                    }, 5000);
                // 그 외 경우
                } else {
                    // 메시지를 보낼 수 없는 상태인 경우 - 아직 5초 대기중이다.
                    if ( sendMessage == "false" ) {
                        // 받아온 메시지를 올리지 않고 통과
                        return;
                    // 메시지를 보낼 수 있는 상태인 경우
                    } else {
                        // 먼저 로컬 스토리지에서 현재 가지고 있는 메시지 전송 시간을 삭제한다.
                        localStorage.removeItem("end");
                        // 그 다음 메시지 전송 시간 값을 다시 초기값으로 변경하여 로컬 스토리지에 추가한다.
                        localStorage.setItem("end", Date.now());
                        // 마지막으로 로컬 스토리지에 다시 추가한 값을 가져와 알맞는 변수에 전달한다.
                        end = localStorage.getItem("end");
                        // 메시지를 전송한지 1초가 지날 경우 - 다시 초기 상태로 돌아간다.
                        if ( ( end - start ) > 1000 ) {
                            // 먼저 로컬 스토리지에서 현재 가지고 있는 시작 시간과 전송된 메시지 수를 삭제한다.
                            localStorage.removeItem("start");
                            localStorage.removeItem("count");
                            // 그 다음 시작 시간과 전송된 메시지 수의 값을 다시 초기값으로 변경하여 로컬 스토리지에 추가한다.
                            localStorage.setItem("start", Date.now());
                            localStorage.setItem("count", 0);
                            // 마지막으로 로컬 스토리지에 다시 추가한 값들을 가져와 각 알맞는 변수에 전달한다.
                            start = localStorage.getItem("start");
                            count = localStorage.getItem("count");
                        }
                        // send(path, header, message)로 채팅 메시지를 보낸다. (입장 이후 작성되는 모든 메시지는 여기서 전달한다.)
                        // JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                        // 여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                        stomp.send('/pub/meta/studyRoom/message', {}, JSON.stringify({metaIdx : metaIdx, message : message.value, writer : nickname}));
                        message.value = ""; // 메시지를 전송한 뒤 공백 상태로 만든다.
                        // 먼저 전송된 메시지 수를 1 증가시킨다.
                        count++;
                        // 그 다음 로컬 스토리지에서 현재 가지고 있는 전송된 메시지 수를 삭제한다.
                        localStorage.removeItem("count");
                        // 그 다음 메시지 수의 값을 증가한 값으로 변경하여 다시 로컬 스토리지에 추가한다.
                        localStorage.setItem("count", count);
                        // 마지막으로 로컬 스토리지에 다시 추가한 값을 가져와 알맞는 변수에 전달한다.
                        count = localStorage.getItem("count");
                    }
                }
            }
        }
    /////////////////////////////////////////////////// 페이지 이탈 구역 ///////////////////////////////////////////////////
        // 1. 페이지를 이탈하는 기능을 실행할 경우 발생하는 이벤트 핸들러 등록
        // beforeunload - 탭 닫기, 윈도우 닫기, 페이지 닫기, 뒤로가기, 버튼, location.href, 새로고침 등 해당 페이지를 벗어나는 기능을 실행할 경우 항상 실행된다.
        window.addEventListener("beforeunload", function(event) {
            event.preventDefault(); // beforeunload 이벤트를 명시적으로 처리하지 않은 경우, 해당 이벤트에 기본 동작을 실행하지 않도록 지정한다.
            event.returnValue = ""; // beforeunload 경고창을 띄워준다. - 따로 메시지 작성을 안한 이유는 각 브라우저마다 기본으로 잡혀있는 메시지가 표시되기 때문이다.
        });

        // 2. beforeunload 이벤트에서 반환한 경고창에 따라 <body>태그에 작성한 unload 이벤트에서 확인 및 취소를 체크하고, 확인을 누른 경우에만 지정한 메소드로 이동시킨다.
        // unload - 어떤 방식으로든 페이지를 이탈하면 항상 실행된다.

        // 3. 페이지 이탈 후 퇴장 메시지 전송 메소드 - unload에서 지정한 메소드
        function exit() {
            // send(path, header, message)로 퇴장 메시지를 보낸다. (퇴장할때 딱 한번만 전달한다.)
            // JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
            // 여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
            stomp.send('/pub/meta/studyRoom/exit', {}, JSON.stringify({metaIdx : metaIdx, writer : nickname, metaRecruitingPersonnel : metaRecruitingPersonnel}));
        }
    </script>
    <!--------------------------------------------------- 캔버스 구역 ---------------------------------------------------->
    <script th:inline="javascript">
    ////////////////////////////////////////////////////// 변수 구역 //////////////////////////////////////////////////////
        var metaIdx1 = [[${metaRoom.metaIdx}]]; // 방 번호
        var nickname1 = [[${nickImage.nickname}]]; // 로그인 유저의 닉네임
        var profileImage1 = [[${nickImage.profileImage}]]; // 로그인 유저의 프로필 사진
        let entryCheck1 = [[${entryCheck}]]; // 입장 체크값

        let canvas; // 도화지
        let canvasLeft; // 왼쪽 벽
        let canvasTop; // 위쪽 벽
        let canvasRight; // 오른쪽 벽
        let canvasBottom; // 아래쪽 벽
        let context; // 화가
        let imgC = "imgChar2"; // 그림 이름 받는곳

        let type = ""; // 메시지 타입
        let characters = ""; // 캐릭터 Map - 서버로 보내기용
        let characters1 = ""; // 캐릭터 Map 파싱 - 캔버스에 그리기용
        let character = ""; // 캐릭터 Map의 닉네임 키
        let coordinate = ""; // 캐릭터 Map의 닉네임 키에 해당하는 List 값

        let keycode; // 키보드 키코드

        let imgChar = new Image(); // 캐릭터 이미지
        let imgBg = new Image(); // 배경 이미지
        imgBg.src = "/map/studyRoom.png"; // 배경 이미지 주소

        let a = document.getElementById("canvas").clientWidth;
        let b = "";
        let c = document.getElementById("canvas").clientHeight;
        d = "";

        let x = ""; // 캐릭터 시작 위치 지정
        let y = ""; // 캐릭터 시작 위치 지정
        let w = 20; // 캐릭터 크기 지정 (전체 사이즈의 절반만 작성)
        let h = 20; // 캐릭터 크기 지정 (전체 사이즈의 절반만 작성)
    ////////////////////////////////////////////////////// 소켓 구역 //////////////////////////////////////////////////////
        // 소켓 메소드
        var connect = function() {
            // 1. SockJS를 생성한다. (StompWebSocketConfig에서 설정한 Endpoint와 동일하게 맞춰준다.)
            var sockJs1 = new SockJS("/ws/meta");
            // 2. 생성된 SockJS를 Stomp에 전달한다.
            var stomp1 = Stomp.over(sockJs1);

            // 3. connect가 이뤄지면 실행한다.
            stomp1.connect({}, function () {
                // connect가 이뤄지면 콘솔에 로그를 찍는다.
                console.log("STOMP1 Connection");

                // 5. subscribe(path, callback)으로 메시지를 받을 수 있다.
                //    StompChatController에서 SimpMessagingTemplate를 통해 전달한 DTO를 여기서 콜백 메소드 파라미터로 전달 받는다.
                stomp1.subscribe("/sub/meta/studyRoom/canvas/" + metaIdx, function (message) {
                    // 6. JSON.parse(변환 대상) - JSON 문자열을 JavaScript 값이나 객체로 변환한다.
                    //    JSON형식으로 넘어온 DTO를 JavaScript형식으로 변환한다.
                    var content1 = JSON.parse(message.body);
                    // 6-1. 변환된 DTO를 사용하기 편하게 각각 변수에 나눠놓는다.
                    var writer1 = content1.writer; // 작성자

                    type = content1.type; // 메시지 타입
                    characters = content1.characters; // 캐릭터 Map - 서버로 보내기용
                    characters1 = JSON.parse(characters); // 캐릭터 Map 파싱 - 캔버스에 그리기용

                    // 메시지 타입이 왼쪽이거나 위쪽이거나 오른쪽이거나 아래쪽일 경우
                    if ( type == "left" || type == "top" || type == "right" || type == "bottom" ) {
                        // 캐릭터 그리기 메소드로 이동한다.
                        drawChar();
                    }

                    // 작성자가 로그인 유저와 같은 경우 (본인)
                    if ( nickname1 == writer1 ) {
                        // 메시지 타입이 첫 입장이거나 재입장일 경우
                        if ( type == "enter" || type == "reenter" ) {
                            // 캔버스 메소드로 이동한다.
                            start1();
                        }
                    }
                });
    ////////////////////////////////////////////////////// 입장 구역 //////////////////////////////////////////////////////
                // 입장 시작!! - 먼저 입장 체크값을 이용하여 해당 유저가 첫 입장인지 재입장(새로고침)인지 체크한다.
                // 첫 입장일 경우 - 입장 체크값이 존재하지 않는다.
                if ( entryCheck1 == null ) {
                    // 4번이 5번보다 아래에 위치한 이유 - 위에 있을경우 간혹 4번에서 전송한 메시지를 제대로 전달받지 못하는 경우가 존재한다.
                    // 4. send(path, header, message)로 입장 메시지를 보낸다. (첫 입장할때 딱 한번만 여기서 입장 메시지를 전달한다.)
                    //    JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                    //    여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                    stomp.send('/pub/meta/studyRoom/canvas/enter', {}, JSON.stringify({metaIdx : metaIdx1, writer : nickname1, character : profileImage1, type : "enter", x : a / 2, y : (c / 6) * 5}));
                // 재입장(새로고침)일 경우 - 입장 체크값이 존재한다.
                } else {
                    // 4번이 5번보다 아래에 위치한 이유 - 위에 있을경우 간혹 4번에서 전송한 메시지를 제대로 전달받지 못하는 경우가 존재한다.
                    // 4. send(path, header, message)로 입장 메시지를 보낸다. (첫 입장 이후 모든 재입장(새로고침)은 여기서 입장 메시지를 전달한다.)
                    //    JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                    //    여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                    stomp.send('/pub/meta/studyRoom/canvas/reenter', {}, JSON.stringify({metaIdx : metaIdx1, writer : nickname1, character : profileImage1, type : "reenter", x : a / 2, y : (c / 6) * 5}));
                }
            });
        };
    ////////////////////////////////////////////////////// 시작 구역 //////////////////////////////////////////////////////
        // 방에 접속하면 가장 먼저 소켓 메소드로 이동한다.
        connect();
    ///////////////////////////////////////////////////// 캔버스 구역 /////////////////////////////////////////////////////
        // 캔버스 메소드
        function start1() {
            // canvas id값으로 가져오기
            canvas = document.getElementById("canvas");
            // canvas를 2d로 설정
            context = canvas.getContext("2d");
            // canvas 크기 설정
            setCanvasSize();

            // 캔버스 크기의 절대적 위치
            canvasLeft = 0 + 50; // 왼쪽 벽
            canvasTop = 0 + 50 // 위쪽 벽
            canvasRight = document.getElementById("canvas").clientWidth - 50; // 오른쪽 벽
            canvasBottom = document.getElementById("canvas").clientHeight - 50; // 아래쪽 벽

            // 시작!!
            //runGame();
            // 시작 알람
            // 실행되고있는 AnimationFrame 삭제 - 이 작업을 먼저 안하면 실행중인 AnimationFrame이 제거되지 않고 계속 쌓이게 된다.
            cancelAnimationFrame(runGame);
            // AnimationFrame 실행 (콜백 메소드) - AnimationFrame으로 실행시킬 메소드를 괄호에 넣는다.
            requestAnimationFrame(runGame);
            // 구형 프레임 작동방식 - 그림을 수시로 그려내는 방식으로 로직이 복잡해질시 프레임이 밀려 캐릭터가 버벅거린다.
            // setInterval(runGame);
        }

        // canvas 크기 설정 메소드 (윈도우 크기게 맞게 설정)
        function setCanvasSize() {
            //캔버스의 현재 길이 설정
            canvas.setAttribute("width", document.getElementById("canvas").clientWidth);
            //캔버스의 현재 높이 설정
            canvas.setAttribute("height", document.getElementById("canvas").clientHeight);
        }

        // 시작 메소드
        function runGame() {
            drawAll(); // canvas 위에 이미지를 그려주는 메소드
        }

        // canvas 위에 이미지를 그려주는 메소드
        function drawAll() {
            // 배경 그리기
            context.drawImage(imgBg, 0, 0, canvas.width, canvas.height);
            for ( character in characters1 ) {
                // 해당 캐릭터의 좌표 정보 배열 가져오기
                coordinate = characters1[character];
                // 좌표 정보 배열에서 각 좌표를 가져와서 캐릭터 그리기
                imgChar.src = "/imagePath/" + coordinate[0]; // 캐릭터 이미지 주소
                context.drawImage(imgChar, coordinate[1]-w, coordinate[2]-h, w*2, h*2);
            }
        }

        // canvas 위에 이미지를 그려주는 메소드
        function drawChar() {
            // canvas의 왼쪽 상단 모서리에서 시작하여 canvas의 전체 영역을 지운다.
            // 새로 받아온 캐릭터 정보들로 다시 그리기 위하여 먼저 캔버스 위에 그려져있는 캐릭터들을 모두 지운다.
            context.clearRect(0, 0, canvas.width, canvas.height);
            for ( character in characters1 ) {
                // 해당 캐릭터의 좌표 정보 배열 가져오기
                coordinate = characters1[character];
                // 좌표 정보 배열에서 각 좌표를 가져와서 캐릭터 그리기
                imgChar.src = "/imagePath/" + coordinate[0]; // 캐릭터 이미지 주소
                context.drawImage(imgChar, coordinate[1]-w, coordinate[2]-h, w*2, h*2);
            }
            cancelAnimationFrame(runGame); // 실행되고있는 AnimationFrame 삭제
            requestAnimationFrame(runGame); // AnimationFrame 실행
        }

        // 키가 눌렸을때 실행되는 메소드 - 이동 상태
        function keyDown() {
            keycode = event.keyCode; // 키보드 키코드
            // 키코드에 따른 이동 분기 결정
            switch(keycode) {
                // 왼쪽으로 이동
                case 37:
                    // send(path, header, message)로 채팅 메시지를 보낸다. (왼쪽 키가 눌릴 경우 여기서 이동 메시지를 전달한다.)
                    // JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                    // 여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                    stomp.send('/pub/meta/studyRoom/canvas/move', {}, JSON.stringify({metaIdx : metaIdx1, writer : nickname1, character : profileImage1, type : "left", canvasLeft : canvasLeft, canvasTop : canvasTop, canvasRight : canvasRight, canvasBottom : canvasBottom}));
                    break;
                // 위로 이동
                case 38:
                    // send(path, header, message)로 채팅 메시지를 보낸다. (위쪽 키가 눌릴 경우 여기서 이동 메시지를 전달한다.)
                    // JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                    // 여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                    stomp.send('/pub/meta/studyRoom/canvas/move', {}, JSON.stringify({metaIdx : metaIdx1, writer : nickname1, character : profileImage1, type : "top", canvasLeft : canvasLeft, canvasTop : canvasTop, canvasRight : canvasRight, canvasBottom : canvasBottom}));
                    break;
                // 오른쪽으로 이동
                case 39:
                    // send(path, header, message)로 채팅 메시지를 보낸다. (오른쪽 키가 눌릴 경우 여기서 이동 메시지를 전달한다.)
                    // JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                    // 여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                    stomp.send('/pub/meta/studyRoom/canvas/move', {}, JSON.stringify({metaIdx : metaIdx1, writer : nickname1, character : profileImage1, type : "right", canvasLeft : canvasLeft, canvasTop : canvasTop, canvasRight : canvasRight, canvasBottom : canvasBottom}));
                    break;
                // 아래로 이동
                case 40:
                    // send(path, header, message)로 채팅 메시지를 보낸다. (아래쪽 키가 눌릴 경우 여기서 이동 메시지를 전달한다.)
                    // JSON.stringify({json형식}) - JavaScript 값이나 객체를 JSON 문자열로 변환한다.
                    // 여기서 보낸 메시지를 StompChatController에 @MessageMapping이 DTO를 통해 받는다.
                    stomp.send('/pub/meta/studyRoom/canvas/move', {}, JSON.stringify({metaIdx : metaIdx1, writer : nickname1, character : profileImage1, type : "bottom", canvasLeft : canvasLeft, canvasTop : canvasTop, canvasRight : canvasRight, canvasBottom : canvasBottom}));
                    break;
            }
        }

        // 눌린 키가 떼졌을때 실행되는 메소드 - 멈춤 상태
        function keyUp() {
            var keycode = event.keyCode; // 키보드 키코드
            // 키코드에 따른 멈춤 분기 결정
            switch(keycode) {
                // x축 멈춤
                case 37:
                case 39:
                    dx = 0;
                    break;
                // y축 멈춤
                case 38:
                case 40:
                    dy = 0;
                    break;
            }
        }
    </script>
</body>
</html>